---
default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.12.0
    hooks:
      - id: markdownlint_docker
        # TODO: Figure out how to not need this file
        args: [-s, .markdownlint.rb]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint-docker
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.494
    hooks:
      - id: checkov_container
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
  - repo: https://github.com/equisoft-devops/equisoft-pre-commit.git
    rev: v2.0.0
    hooks:
      - id: tfsort
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true
          - --tf-init-args=-upgrade
      - id: terraform_fmt
      - id: terraform_providers_lock
        args:
          - --hook-config=--mode=always-regenerate-lockfile
      - id: tfupdate
      - id: terraform_tflint
      - id: terraform_docs
      - id: terraform_trivy
      - id: terrascan
      - id: infracost_breakdown
        args:
          - --args=--path=.
